@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #d4e9eb;
    color: black;
}

.container {
  display: flex;
  align-items: center;
  
}
.link {
  float: right;
}

.image {
  margin: 0 auto;
}


.content {
  width: 50%;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}
.center
{
  text-align: center;
}
hr{
  color: rgb(51, 92, 92);
}